// Company Container Styles
.company-container {
  .company-inner-container {
    padding: 1px;

    .company-size {
      display: flex;
      justify-content: space-around;
      background-color: #000000;
      padding: 0;
      margin: 0;
      color: white;

      .size-name {
        margin-left: 200px;

        .size-name-container {
        }
      }

      .size-location {
        margin-left: 140px;
      }

      .size-sector {
        margin-right: 110px;
      }
    }
    
    .company-grid {
      cursor: pointer;
      background-color: #eee;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
      height: 15vh;

      &__company-background {
        background-color: black;
        display: flex;
        justify-self: end;
        align-items: center;
        align-content: center;
        color: white;
        height: 5vh;


        .company-div {
          width: 100%;
          text-align: left;
          p { 
            padding: 10px 10px 10px 150px;
          }
        }
      }
      .company-left {
        display: flex;
        justify-content: center;
      }


      &__background {
        background-color: #e2f3f5;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        cursor: pointer;

        .company-div {
          width: 100%;
          text-align: left;
          p { 
            padding: 10px 10px 10px 150px;
          }
        }
      }
      
      .company-div {
        width: 100%;
        text-align: left;
        p { 
          padding: 10px 10px 10px 150px;
          text-align: left;
        }
        
        
        &__number {
          h2 {
            margin-left: 100px;
          }
        }
        &__name {
          font-weight: 600;
        }
        &__number, &__sector {
          padding: 50px;
        }
        &__sector,&__number, &__logo, &__name, &__location {
          text-align: left;
          width: 200px;
          font-size: 1.2em;
          display: flex;
        }

      }

    }
  }
}

// Company Nav Styles
.company-nav {


  .company-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
}


// Company Bio Styles
.company-bio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #e2f3f5;

}

.bio-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 60vh;
  background-color: #fafafa;



}
.bio-container {
  .bio-summary {
    width: 100vh;
    padding: 10px;
  }
  .bio-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    
    .bio-left-container {
      img {
        width: 500px;
        height: 300px;
        padding-right: 80px;
      }
    }

    .bio-right-container {
      width: 400px;
      border-bottom: 2px solid black;

      .bio-single {
        display: flex;
        justify-content: space-between;
        text-align: left;
        width: 400px;
        p {
          text-align: left;
          width: 100%;
        }
        
      }
    }
  }
}