.header-main-outer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #0e153a;

  .header-main-container {
    font-family: 'Oswald', sans-serif;
    height: 100%;
    .header-main-name {
      color: white;
      margin-bottom: -70px;
      padding-left: 20px;
      font-size: 1.5em;

      
      h1 {

      }
    }

    .top-container {
      display: grid;
      justify-content: center;
      align-items: center;
      align-content: center;
      height: 100%;
      padding: 20px;
      .top-name {
        color: #ffd615;
        font-size: 3em;
        h1 {
          margin: 0;
        }
      }
      .bottom-name {
        color: #fdfdfd;
        font-size: 5em;
        margin-top: -70px;
        
        h1 {
          margin: 0;
        }
      }
    }
  }
}

// Summary styles
.summary-container {
  background-color: #ffd615;
  height: 50vh;
  display: flex;
  justify-content: center;
  height: 60vh;

  h1 {
    font-size: 2.5em;
    font-family: 'EB Garamond', serif;
  }

  p {
    width: 800px;
    font-size: 1.3em;
    line-height: 2;
    font-family: 'EB Garamond', serif;
  }
}