

.navbar a:hover {
  color: rgb(107, 107, 107);
}

.nav-outside {
  margin-right: 640px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  .navbar-heading {
    font-size: 1.5em;
    color: white;
    padding: 5PX;
    h2 {
      font-family: 'Lobster', cursive;
    }
  }
}


.navbar-company-size {
  font-weight: 600;
  padding: 10px;
  width: 200px;
}

.navbar__link {
  margin: 1em;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .3em;
  text-indent: .3em;
  color: #000000;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

.navbar__link:hover {
}

.navbar__link--active {
  border-bottom: 1px solid #000000;
  transition: border-bottom .5s ease-in-out;
}


@media(max-width: 500px) {
  .navbar {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 0.5em;


  }
}

@media(max-width: 500px) {
  .navbar__link {
    margin: 1em;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: .3em;
    text-indent: .3em;
    color: #ffffff;
    border-bottom: 1px solid transparent;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .navbar__link:hover {
    transform: translateY(-2px);
  }
  
  .navbar__link--active {
    border-bottom: 1px solid #ffffff;
  }  
  .header-container {
    font-size: 10px;
  }
}
